In [ ]:
val x = spark.read.json("C:\\Program Files\\spark-3.5.2-bin-hadoop3-scala2.13\\examples\\src\\main\\resources\\people.json");

x.show()

In [ ]:
x.printSchema()

In [ ]:
x.select($"name",$"age").show()

In [ ]:
x.filter($"age">20).show()

In [ ]:
x.select($"age"+1).show()

In [ ]:
x.createOrReplaceTempView("people")

val sqlDF = spark.sql("Select * from people")

In [ ]:
sqlDF.show()

In [ ]:
df.createGlobalTempView("people")

In [ ]:
spark.sql("SELECT * FROM global_temp.people").show()

In [ ]:
spark.newSession().sql("SELECT * FROM global_temp.people").show()

In [ ]:
case class Person(name: String, age: Long)

In [ ]:
val caseClassDS = Seq(Person("Andy", 32)).toDS()

In [ ]:
caseClassDS.show()

In [ ]:
val primitiveDS = Seq(1, 2, 3).toDS()

In [ ]:
primitiveDS.map(_ + 1).collect()

In [ ]:
val path = "C:\\Program Files\\spark-3.5.2-bin-hadoop3-scala2.13\\examples\\src\\main\\resources\\people.json"

In [ ]:
val peopleDS = spark.read.json(path).as[Person]

In [ ]:
peopleDS.show()

In [ ]:
import spark.implicits._

In [ ]:
val peopleDF = spark.sparkContext.textFile("C:\\Program Files\\spark-3.5.2-bin-hadoop3-scala2.13\\examples\\src\\main\\resources\\people.txt").map(_.split(",")).map(attributes => Person(attributes(0), attributes(1).trim.toInt)).toDF()

In [ ]:
peopleDF.createOrReplaceTempView("people")

val teenagersDF = spark.sql("SELECT name, age FROM people WHERE age BETWEEN 13 AND 19")

In [ ]:
teenagersDF.map(teenager => "Name: " + teenager(0)).show()

In [ ]:
teenagersDF.map(teenager => "Name: " + teenager.getAs[String]("name")).show()

In [ ]:
implicit val mapEncoder = org.apache.spark.sql.Encoders.kryo[Map[String, Any]]

In [ ]:
teenagersDF.map(teenager => teenager.getValuesMap[Any](List("name", "age"))).collect()

In [ ]:
11. Perform the same operations on people.csv.
val a = spark.read.option("header", "true").csv("C:\\Program Files\\spark-3.5.2-bin-hadoop3-scala2.13\\examples\\src\\main\\resources\\people.csv");

In [ ]:
a.show()

In [ ]:
a.printSchema()

In [ ]:
12. Performing operations on custom data.
val mydata = spark.read.format("csv").option("inferschema", "true").option("header", "true").load("C:\\Program Files\\spark-3.5.2-bin-hadoop3-scala2.13\\examples\\src\\main\\resources\\banking.csv")

In [ ]:
mydata.show()

In [ ]:
mydata.show(50)

In [ ]:
mydata.select($"age", $"y").show()

In [ ]:
mydata.count()

In [ ]:
mydata.count.toDouble