In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 5.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=b2ce1a415ec82a38734adcf67b5a5640f77597ed9e4ce9c1ff3ab012c22800de
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [3]:
import pyspark
import pandas as pd

In [46]:
pd.read_csv("/content/drive/MyDrive/data.csv")

             Name   Age  Salary )INR)  Experience
0    Aditi Sharma  28.0      5,50,000         1.0
1       Raj Patel  34.0      7,50,000         3.0
2      Neha Gupta  26.0      4,80,000         2.0
3    Vikram Singh  40.0     12,00,000         4.0
4       Priya Rao  30.0      6,20,000         1.0
5      Anil Kumar  45.0     15,00,000         5.0
6    Kavita Joshi  29.0      5,80,000         2.0
7     Rohan Mehta  32.0      7,00,000         3.0
8     Sneha Desai  27.0      5,20,000         1.0
9      Amit Verma  38.0      9,00,000         2.0
10   Sumit Milind   NaN      1,00,000         NaN
11  Sunita Shinde   NaN           NaN         3.0
12     Pankaj Rao   NaN           NaN         NaN
13            NaN  30.0      1,00,000         1.0

In [5]:
from pyspark.sql import SparkSession

In [6]:
# create a spark session
spark = SparkSession.builder.appName('Read CSV').getOrCreate()

In [47]:
# Path to your csv file
csv_file_path = '/content/drive/MyDrive/data.csv'

In [8]:
csv_file_path

'/content/drive/MyDrive/data.csv'

In [48]:
# Read the CSV file into a DataFrame. inferSchema tries to determine the datatype of values in the fields.
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

In [40]:
# display the DataFrame
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [11]:
type(df)

pyspark.sql.dataframe.DataFrame

In [12]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |--  Salary )INR): string (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
df.head(5)

[Row(Name='Aditi Sharma', Age=28,  Salary )INR)='5,50,000', Experience=1),
 Row(Name='Raj Patel', Age=34,  Salary )INR)='7,50,000', Experience=3),
 Row(Name='Neha Gupta', Age=26,  Salary )INR)='4,80,000', Experience=2),
 Row(Name='Vikram Singh', Age=40,  Salary )INR)='12,00,000', Experience=4),
 Row(Name='Priya Rao', Age=30,  Salary )INR)='6,20,000', Experience=1)]

In [14]:
df.show(5)

+------------+---+-------------+----------+
|        Name|Age| Salary )INR)|Experience|
+------------+---+-------------+----------+
|Aditi Sharma| 28|     5,50,000|         1|
|   Raj Patel| 34|     7,50,000|         3|
|  Neha Gupta| 26|     4,80,000|         2|
|Vikram Singh| 40|    12,00,000|         4|
|   Priya Rao| 30|     6,20,000|         1|
+------------+---+-------------+----------+
only showing top 5 rows

In [15]:
df.columns

['Name', 'Age', ' Salary )INR)', 'Experience']

In [16]:
df.select("Name").show()

+-------------+
|         Name|
+-------------+
| Aditi Sharma|
|    Raj Patel|
|   Neha Gupta|
| Vikram Singh|
|    Priya Rao|
|   Anil Kumar|
| Kavita Joshi|
|  Rohan Mehta|
|  Sneha Desai|
|   Amit Verma|
| Sumit Milind|
|Sunita Shinde|
|   Pankaj Rao|
|         NULL|
+-------------+

In [17]:
df.select(['Name', 'Experience']).show()

+-------------+----------+
|         Name|Experience|
+-------------+----------+
| Aditi Sharma|         1|
|    Raj Patel|         3|
|   Neha Gupta|         2|
| Vikram Singh|         4|
|    Priya Rao|         1|
|   Anil Kumar|         5|
| Kavita Joshi|         2|
|  Rohan Mehta|         3|
|  Sneha Desai|         1|
|   Amit Verma|         2|
| Sumit Milind|      NULL|
|Sunita Shinde|         3|
|   Pankaj Rao|      NULL|
|         NULL|         1|
+-------------+----------+

In [18]:
df.dtypes

[('Name', 'string'),
 ('Age', 'int'),
 (' Salary )INR)', 'string'),
 ('Experience', 'int')]

In [19]:
df.describe().show()

+-------+------------+-----------------+-------------+------------------+
|summary|        Name|              Age| Salary )INR)|        Experience|
+-------+------------+-----------------+-------------+------------------+
|  count|          13|               11|           12|                12|
|   mean|        NULL|32.63636363636363|         NULL|2.3333333333333335|
| stddev|        NULL|6.021174757017559|         NULL|1.3026778945578592|
|    min|Aditi Sharma|               26|     1,00,000|                 1|
|    max|Vikram Singh|               45|     9,00,000|                 5|
+-------+------------+-----------------+-------------+------------------+

In [20]:
# Adding columns to the Dataframe

df = df.withColumn('Experience after 2 years', df['Experience'] + 2)

In [21]:
df.show()

+-------------+----+-------------+----------+------------------------+
|         Name| Age| Salary )INR)|Experience|Experience after 2 years|
+-------------+----+-------------+----------+------------------------+
| Aditi Sharma|  28|     5,50,000|         1|                       3|
|    Raj Patel|  34|     7,50,000|         3|                       5|
|   Neha Gupta|  26|     4,80,000|         2|                       4|
| Vikram Singh|  40|    12,00,000|         4|                       6|
|    Priya Rao|  30|     6,20,000|         1|                       3|
|   Anil Kumar|  45|    15,00,000|         5|                       7|
| Kavita Joshi|  29|     5,80,000|         2|                       4|
|  Rohan Mehta|  32|     7,00,000|         3|                       5|
|  Sneha Desai|  27|     5,20,000|         1|                       3|
|   Amit Verma|  38|     9,00,000|         2|                       4|
| Sumit Milind|NULL|     1,00,000|      NULL|                    NULL|
|Sunita Shinde|NULL|         NULL|         3|                       5|
|   Pankaj Rao|NULL|         NULL|      NULL|                    NULL|
|         NULL|  30|     1,00,000|         1|                       3|
+-------------+----+-------------+----------+------------------------+

In [22]:
# Dropping columns from dataframe
df = df.drop('Experience after 2 years').show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [25]:
df.withColumnRenamed('Name', 'New Name').show()

+-------------+----+-------------+----------+
|     New Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [26]:
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [27]:
df.na.drop().show()

+------------+---+-------------+----------+
|        Name|Age| Salary )INR)|Experience|
+------------+---+-------------+----------+
|Aditi Sharma| 28|     5,50,000|         1|
|   Raj Patel| 34|     7,50,000|         3|
|  Neha Gupta| 26|     4,80,000|         2|
|Vikram Singh| 40|    12,00,000|         4|
|   Priya Rao| 30|     6,20,000|         1|
|  Anil Kumar| 45|    15,00,000|         5|
|Kavita Joshi| 29|     5,80,000|         2|
| Rohan Mehta| 32|     7,00,000|         3|
| Sneha Desai| 27|     5,20,000|         1|
|  Amit Verma| 38|     9,00,000|         2|
+------------+---+-------------+----------+

In [28]:
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [29]:
# Drop enteries that have all columns as null

df.na.drop(how="all")
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [30]:
df.na.drop(how="any").show()

+------------+---+-------------+----------+
|        Name|Age| Salary )INR)|Experience|
+------------+---+-------------+----------+
|Aditi Sharma| 28|     5,50,000|         1|
|   Raj Patel| 34|     7,50,000|         3|
|  Neha Gupta| 26|     4,80,000|         2|
|Vikram Singh| 40|    12,00,000|         4|
|   Priya Rao| 30|     6,20,000|         1|
|  Anil Kumar| 45|    15,00,000|         5|
|Kavita Joshi| 29|     5,80,000|         2|
| Rohan Mehta| 32|     7,00,000|         3|
| Sneha Desai| 27|     5,20,000|         1|
|  Amit Verma| 38|     9,00,000|         2|
+------------+---+-------------+----------+

In [31]:
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [32]:
df = df.na.drop(how="any", thresh=2)
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [33]:
# Drop rows that has Experience as NULL

df = df.na.drop(how="any", subset=['Experience'])
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
|Sunita Shinde|NULL|         NULL|         3|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [34]:
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
|Sunita Shinde|NULL|         NULL|         3|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [42]:
df = df.na.fill(0, ['Age', 'Experience'])
df.show()

+-------------+---+-------------+----------+
|         Name|Age| Salary )INR)|Experience|
+-------------+---+-------------+----------+
| Aditi Sharma| 28|     5,50,000|         1|
|    Raj Patel| 34|     7,50,000|         3|
|   Neha Gupta| 26|     4,80,000|         2|
| Vikram Singh| 40|    12,00,000|         4|
|    Priya Rao| 30|     6,20,000|         1|
|   Anil Kumar| 45|    15,00,000|         5|
| Kavita Joshi| 29|     5,80,000|         2|
|  Rohan Mehta| 32|     7,00,000|         3|
|  Sneha Desai| 27|     5,20,000|         1|
|   Amit Verma| 38|     9,00,000|         2|
| Sumit Milind|  0|     1,00,000|         0|
|Sunita Shinde|  0|         NULL|         3|
|   Pankaj Rao|  0|         NULL|         0|
|         NULL| 30|     1,00,000|         1|
+-------------+---+-------------+----------+

In [43]:
# fill in the said text in the string columns that are NULL
df = df.na.fill("Missing")
df.show()

+-------------+---+-------------+----------+
|         Name|Age| Salary )INR)|Experience|
+-------------+---+-------------+----------+
| Aditi Sharma| 28|     5,50,000|         1|
|    Raj Patel| 34|     7,50,000|         3|
|   Neha Gupta| 26|     4,80,000|         2|
| Vikram Singh| 40|    12,00,000|         4|
|    Priya Rao| 30|     6,20,000|         1|
|   Anil Kumar| 45|    15,00,000|         5|
| Kavita Joshi| 29|     5,80,000|         2|
|  Rohan Mehta| 32|     7,00,000|         3|
|  Sneha Desai| 27|     5,20,000|         1|
|   Amit Verma| 38|     9,00,000|         2|
| Sumit Milind|  0|     1,00,000|         0|
|Sunita Shinde|  0|      Missing|         3|
|   Pankaj Rao|  0|      Missing|         0|
|      Missing| 30|     1,00,000|         1|
+-------------+---+-------------+----------+

In [44]:
from pyspark.ml.feature import Imputer

In [49]:
df.show()

+-------------+----+-------------+----------+
|         Name| Age| Salary )INR)|Experience|
+-------------+----+-------------+----------+
| Aditi Sharma|  28|     5,50,000|         1|
|    Raj Patel|  34|     7,50,000|         3|
|   Neha Gupta|  26|     4,80,000|         2|
| Vikram Singh|  40|    12,00,000|         4|
|    Priya Rao|  30|     6,20,000|         1|
|   Anil Kumar|  45|    15,00,000|         5|
| Kavita Joshi|  29|     5,80,000|         2|
|  Rohan Mehta|  32|     7,00,000|         3|
|  Sneha Desai|  27|     5,20,000|         1|
|   Amit Verma|  38|     9,00,000|         2|
| Sumit Milind|NULL|     1,00,000|      NULL|
|Sunita Shinde|NULL|         NULL|         3|
|   Pankaj Rao|NULL|         NULL|      NULL|
|         NULL|  30|     1,00,000|         1|
+-------------+----+-------------+----------+

In [50]:
imputer = Imputer(
inputCols = ['Age','Experience'], outputCols = ["{}_imputed".format(c) for c in
['Age','Experience']]).setStrategy("mean")

imputer.fit(df).transform(df).show()

+-------------+----+-------------+----------+-----------+------------------+
|         Name| Age| Salary )INR)|Experience|Age_imputed|Experience_imputed|
+-------------+----+-------------+----------+-----------+------------------+
| Aditi Sharma|  28|     5,50,000|         1|         28|                 1|
|    Raj Patel|  34|     7,50,000|         3|         34|                 3|
|   Neha Gupta|  26|     4,80,000|         2|         26|                 2|
| Vikram Singh|  40|    12,00,000|         4|         40|                 4|
|    Priya Rao|  30|     6,20,000|         1|         30|                 1|
|   Anil Kumar|  45|    15,00,000|         5|         45|                 5|
| Kavita Joshi|  29|     5,80,000|         2|         29|                 2|
|  Rohan Mehta|  32|     7,00,000|         3|         32|                 3|
|  Sneha Desai|  27|     5,20,000|         1|         27|                 1|
|   Amit Verma|  38|     9,00,000|         2|         38|                 2|
| Sumit Milind|NULL|     1,00,000|      NULL|         32|                 2|
|Sunita Shinde|NULL|         NULL|         3|         32|                 3|
|   Pankaj Rao|NULL|         NULL|      NULL|         32|                 2|
|         NULL|  30|     1,00,000|         1|         30|                 1|
+-------------+----+-------------+----------+-----------+------------------+